# Import

In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd;
import urllib.request

In [12]:
df=pd.read_csv("champion_with_url.csv", encoding="utf-8-sig",sep=";")

## Add Tier

In [13]:
base_url="https://euw.op.gg/champions?region=euw&tier=platinum_plus&position="
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

In [14]:
a=['top','jungle','mid','adc','support']
b=['TOP','JUNGLE','MIDDLE','ADC','SUPPORT']

In [15]:
for i in range(5):
    url = base_url+a[i]
    response = requests.get(url,headers=headers);
    soup =BeautifulSoup(html,'html.parser')
    table=soup.find("tbody")
    champion = table.find_all("tr")
    temp=dict()
    for elem in champion:
        name=elem.find("strong").text.lower().replace("\'","").replace(" ","").replace("\\","").replace('.',"").replace("’","")
        tier=int(elem.find("td","css-ew1afn").text)
        temp[name]=tier
    position_list=df[df["position"]==b[i]]
    for idx, item in position_list.iterrows():
        name = item['english_name']
        df.loc[idx,'tier'] = temp[name] if name in temp.keys() else  5

In [16]:
df.head(10)

,id,korean_name,english_name,position,image,tier,feature
0,1,가렌,garen,TOP,https://lck-esports-manager.s3.ap-northeast-2....,1.0,NaN
1,2,갈리오,galio,MIDDLE,https://lck-esports-manager.s3.ap-northeast-2....,5.0,NaN
2,3,갱플랭크,gangplank,TOP,https://lck-esports-manager.s3.ap-northeast-2....,4.0,NaN
3,4,그라가스,gragas,TOP,https://lck-esports-manager.s3.ap-northeast-2....,4.0,NaN
4,5,그레이브즈,graves,JUNGLE,https://lck-esports-manager.s3.ap-northeast-2....,5.0,NaN
5,6,그웬,gwen,TOP,https://lck-esports-manager.s3.ap-northeast-2....,4.0,NaN
6,7,나르,gnar,TOP,https://lck-esports-manager.s3.ap-northeast-2....,4.0,NaN
7,8,나미,nami,SUPPORT,https://lck-esports-manager.s3.ap-northeast-2....,5.0,NaN
8,9,나서스,nasus,TOP,https://lck-esports-manager.s3.ap-northeast-2....,4.0,NaN
9,10,노틸러스,nautilus,SUPPORT,https://lck-esports-manager.s3.ap-northeast-2....,5.0,NaN

In [17]:
df['tier']=df['tier'].astype(pd.np.int64)

C:\Users\skql5\AppData\Local\Temp\ipykernel_20584\4116226532.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df['tier']=df['tier'].astype(pd.np.int64)

In [18]:
df.to_csv("champion_no_feature.csv", index=False, encoding="utf-8-sig",sep=";")