# import

In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd;
import time
import urllib.request

## Image Url

In [20]:
df=pd.read_csv("champion_no_tier.csv",sep=";")

In [21]:
df['english_name']

0             garen
1             galio
2         gangplank
3            gragas
4            graves
           ...
156    fiddlesticks
157           fiora
158            fizz
159    heimerdinger
160         hecarim
Name: english_name, Length: 161, dtype: object

In [22]:
base_url = "https://www.op.gg/champions/"

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

In [23]:
# for idx, item in df.iterrows():
#     image_name = item['english_name']+".png"
#     url = item['image']
#     urllib.request.urlretrieve(url, "./images/"+image_name)
#     time.sleep(5)

In [24]:
storage_url="https://lck-esports-manager.s3.ap-northeast-2.amazonaws.com/champion/"

In [25]:
for idx, item in df.iterrows():
    name = item['english_name']
    df.loc[idx,'image'] = storage_url+name+".png"

In [26]:
df.head(5)

,id,korean_name,english_name,position,image,tier,feature
0,1,가렌,garen,MIDDLE,https://lck-esports-manager.s3.ap-northeast-2....,NaN,NaN
1,2,갈리오,galio,TOP,https://lck-esports-manager.s3.ap-northeast-2....,NaN,NaN
2,3,갱플랭크,gangplank,MIDDLE,https://lck-esports-manager.s3.ap-northeast-2....,NaN,NaN
3,4,그라가스,gragas,MIDDLE,https://lck-esports-manager.s3.ap-northeast-2....,NaN,NaN
4,5,그레이브즈,graves,TOP,https://lck-esports-manager.s3.ap-northeast-2....,NaN,NaN

In [28]:
df.to_csv("champion_with_url.csv",sep=";",index=False, encoding="utf-8-sig",)